#backhome {
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
}
.page-home {
    background-color: #030304;
}
.page-learn {
    background-color:#f06eaa;
}
.page-live {
    background-color:#c04a38;
}
.page-watch {
    background-color:#7aa2a9;
}
.page-listen{
    background-color:#eae9e4;
}
.container {
    display: flex;
    flex-direction: column;
    margin:25px auto;
    max-width:900px;
}
.row {
    width: 100%;
    flex-direction: row;
    display:flex;
    align-items: center;
}
.row a {
    display:block;
}
.row img {
    width:100%;
    margin: auto;
}
.row .button-logo {
    flex-basis:70%;
    padding-right:15px;
}
.row .button-learn {
    flex-basis:30%;
}
.row .button-listen {
    flex-basis:70%;
    padding-right:15px;
}
.row .button-watch {
    flex-basis:30%;
}
.row .button-buy {
    flex-basis:30%;
    padding-right:15px;
}
.row .button-live {
    flex-basis:70%;
}

@media only screen and (max-width: 680px) {
    .row {
        flex-direction: column;
    }
}

.ex1 {
  background-color: lightblue;
  width: 250px;
  height: 250px;
  overflow: scroll;
}


/*listen page*/
.album-container {
    display:flex;
    justify-content: center;
    width: calc(260px - 60px * 3);
    margin: 25px auto 0 auto;
}
.album {
    width: 260px;
    margin:0 -30px;
}
.album-description {
    display:none;
    margin-top: 25px;
}
.album:hover .album-description{
    display:block;
}
.album-container:not(:hover) .album.album--latest .album-description {
    display: block;
}

@media only screen and (max-width: 680px) {
    .album-container {
        flex-direction: column;
        margin: 0;
        width: 100%;
        align-items: center;
        padding-bottom: 150px;
    }
    .album {
        margin: 25px 0;
    }
    .album-description {
        display: block !important;
    }
}


/* listen page */
.page-watch {
    padding-bottom: 150px;
}
